{% extends "baseDashBoard.html" %} {% block content3 %}
<div
  class="card-body d-flex justify-content-center flex-wrap"
  style="text-align: center"
>
  <div
    class="card"
    style="
      text-align: center;
      border-top-width: 2px;
      border-top-color: var(--cyan);
      border-right-width: 2px;
      border-right-color: var(--cyan);
      border-bottom-width: 2px;
      border-bottom-color: var(--cyan);
      border-left-width: 2px;
      border-left-color: var(--cyan);
      margin: 4%;
      width: 200px;
    "
  >
    Chatroom for each examiner to be implemented    
</div>
</div>

{% endblock %}